<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movies</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>ID</td>
        <td>name</td>
        <td>release</td>
        <td>genres</td>
        <td>prodHouses Name</td>
      </tr>

        <tr>
          <%rowsMovie.forEach((list)=>{%>
        <tr>
        <td><%=list.id%></td>
        <td><%=list.name%></td>
        <td><%=list.released_year%></td>
        <td><%=list.genre%></td>
        <td><%=list.name_prodHouse%></td>
        <td><a href="/movies/edit/<%=list.id%>"> Edit </td>
      <td><a href="/movies/delete/<%=list.id%>"> Delete </td>
        </tr>
      <%})%>
        </tr>
    </table>
  </body>
</html>
